.card-title {
  font-size: 1.2rem;
}
.card {
  border: none;
  background-color: transparent;
}
.link,
.link:hover {
  text-decoration: none;
  color: black;
}
.product__price {
  font-size: 0.9rem;
  font-weight: bold;
}
.product__img {
  width: 250px;
  height: 180px;
}
@media (max-width: 992px) {
  .product__img {
    width: 100%;
  }
}
